body
{background-color: #ffffff;
 color: #303030;
 font-size: 12pt;
 font-family: "Verdana", sans-serif;
}

p
{
    padding-left: 20px;
}

a
{
    text-decoration: none;
    color: #505090;
}

a:visited
{
    text-decoration: none;
    color: #505090;
}

a:hover
{
    text-decoration: none;
    color: #101050;
}

h1
{
    color: #505090;
    font-family: sans-serif;
}

h2
{
    color: #505090;
    font-family: sans-serif;
}

h3
{
    color: #505090;
    font-family: sans-serif;
    padding-left: 10px;
}

hr
{
    border-top: solid 1px #505090;
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 1px;
}

.bar
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding-top: 18px;
    padding-right: 200px;
    text-align: right;
    font-size: 12pt;
    background-color: #ccddee;
    height: 40px;
    border-bottom: solid 1px #505090;
    z-index: 100;
}

.botbar
{
    left: 0px;
    margin-bottom: 0px;
    width: 100%;
    padding: 18px;
    text-align: center;
    font-size: 9pt;
    background-color: #ccddee;
    border: solid 1px #505090;
}

.content
{
    display: block;
    position: absolute;
    width: 950px;
    top: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

.project
{
    display: block;
    width: 100%;
    border: solid 1px #505090;
    padding: 5px;
    min-height: 110px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.projpic
{
    float: right;
    width: 200px;
    height: 100px;
    overflow: hidden;
}
